# Xcode
*.xcuserdata/
*.xcworkspace/
*.swiftpm/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock
*.xcconfig

# Carthage
Carthage/
Cartfile.resolved

# Images

# Firebase
WeddApp/GoogleService-Info.plist

